# File types
*.csv
*.dump
*.sqlite3
*.gz
*.log
*.mo
*.pyc
*.sql
*.swn
*.swo
*.swp
*.pdf

# OS files
.DS_Store
sprites-*.png
ehthumbs.db
Icon?
Thumbs.db
*~

# Configuration files
/app/local_settings.py

# Folders
.coverage
.vscode
.pytest_cache
.pnpm-store
.ruff_cache
__pycache__
/node_modules
/static
/reports
/uploads
/htmlcov
/app/static/css/dist
